/**
 * @author Bruno Buiret <bruno.buiret@etu.univ-lyon1.fr>
 * @see http://getbootstrap.com/
 */
abbr {
    text-decoration: none;
}

a:hover span.glyphicon {
    text-decoration: none;
}

.page-header:first-of-type,
.page-header:first-of-type h1 {
    margin-top: 0;
}

.page-header:first-of-type h1 {
    margin-bottom: 0;
}

.jumbotron,
.container .jumbotron, .container-fluid .jumbotron {
    padding: 20px;
}

/**
 * Colors extracted from Bootstrap.
 */
.color-primary {
    color: #337ab7;
}

.color-primary:hover {
    color: #286090;
}

.color-success {
    color: #5cb85c;
}

.color-success:hover {
    color: #449d44;
}

.color-info {
    color: #5bc0de;
}

.color-info:hover {
    color: #31b0d5;
}

.color-warning {
    color: #f0ad4e;
}

.color-warning:hover {
    color: #ec971f;
}

.color-danger {
    color: #d9534f;
}

.color-danger:hover {
    color: #c9302c;
}

/**
 * Callout modules extracted from Bootstrap's web site.
 */
.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #f8f8f8;
}

.callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.callout p:last-child {
    margin-bottom: 0;
}

.callout.callout-danger {
    border-left-color: #ce4844;
}

.callout.callout-danger h4 {
    color: #ce4844;
}

.callout.callout-warning {
    border-left-color: #aa6708;
}

.callout.callout-warning h4 {
    color: #aa6708;
}

.callout.callout-info {
    border-left-color: #1b809e;
}

.callout.callout-info h4 {
    color: #1b809e;
}